<?xml version="1.0"?>
<config>
  <modules>
    <Stovpak_UserRoles>
      <version>0.1.0</version>
    </Stovpak_UserRoles>
  </modules>
  <global>
    <helpers>
      <userroles>
        <class>Stovpak_UserRoles_Helper</class>
      </userroles>
    </helpers>
	<models>
	  <userroles>
		<class>Stovpak_UserRoles_Model</class>
		<resourceModel>userroles_mysql4</resourceModel>
	  </userroles>
	</models>
	<resources>
	  <customerattribute1424356224_setup>
		<setup>
		  <module>Stovpak_UserRoles</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1424356224_setup>
	  <customerattribute1424356224_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1424356224_write>
	  <customerattribute1424356224_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1424356224_read>
	</resources>
  </global>
</config> 