<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <modules>
        <Stovpak_Chat>
            <version>0.1.0</version>
        </Stovpak_Chat>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Stovpak_Chat>
                    <files>
                        <default>Stovpak_Chat.csv</default>
                    </files>
                </Stovpak_Chat>
            </modules>
        </translate>
       <!--<routers>
            <chat>
                <use>standard</use>
                <args>
                    <module>Stovpak_Chat</module>
                    <frontName>chat</frontName>
                </args>
            </chat>
        </routers>-->
        <layout>
            <updates>
                <chat>
                    <file>chat.xml</file>
                </chat>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Stovpak_Chat</module>
                    <frontName>chat</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Stovpak_Chat>
                    <files>
                        <default>Stovpak_Chat.csv</default>
                    </files>
                </Stovpak_Chat>
            </modules>
        </translate>
        <menu>
            <chat module="chat">
                <title>Chat</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="chat">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>chat/adminhtml_chat</action> 
                    </items>
                </children>
            </chat>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <chat>
                            <title>Chat Module</title>
                            <sort_order>200</sort_order>
                        </chat>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <chat>
                    <file>chat.xml</file>
                </chat>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <chat>
                <class>Stovpak_Chat_Model</class>
                <resourceModel>chat_mysql4</resourceModel>
            </chat>
            <chat_mysql4>
                <class>Stovpak_Chat_Model_Mysql4</class>
                <entities>
                    <chat>
                        <table>chat</table>
                    </chat>
                </entities>
            </chat_mysql4>
        </models>
        <resources>
            <chat_setup>
                <setup>
                    <module>Stovpak_Chat</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chat_setup>
            <chat_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chat_write>
            <chat_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chat_read>
        </resources>
        <blocks>
            <chat>
                <class>Stovpak_Chat_Block</class>
            </chat>
        </blocks> 
        <helpers>
            <chat>
                <class>Stovpak_Chat_Helper</class>
            </chat>
        </helpers>
    </global>
</config>