<?xml version="1.0"?>
<!--
/**
 * Stovpak_Article extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Stovpak
 * @package        Stovpak_Article
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Stovpak_Article>
            <version>1.0.0</version>
        </Stovpak_Article>
    </modules>
    <global>
        <resources>
            <stovpak_article_setup>
                <setup>
                    <module>Stovpak_Article</module>
                    <class>Stovpak_Article_Model_Resource_Setup</class>
                </setup>
            </stovpak_article_setup>
        </resources>
        <blocks>
            <stovpak_article>
                <class>Stovpak_Article_Block</class>
            </stovpak_article>
        </blocks>
        <helpers>
            <stovpak_article>
                <class>Stovpak_Article_Helper</class>
            </stovpak_article>
        </helpers>
        <models>
            <stovpak_article>
                <class>Stovpak_Article_Model</class>
                <resourceModel>stovpak_article_resource</resourceModel>
            </stovpak_article>
            <stovpak_article_resource>
                <class>Stovpak_Article_Model_Resource</class>
                <entities>
                    <article>
                        <table>stovpak_article_article</table>
                    </article>
                    <article_store>
                        <table>stovpak_article_article_store</table>
                    </article_store>
                </entities>
            </stovpak_article_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <stovpak_article>
                        <class>Stovpak_Article_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </stovpak_article>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <stovpak_article>
                    <file>stovpak_article.xml</file>
                </stovpak_article>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stovpak_Article>
                    <files>
                        <default>Stovpak_Article.csv</default>
                    </files>
                </Stovpak_Article>
            </modules>
        </translate>
        <global_search>
            <article>
                <class>stovpak_article/adminhtml_search_article</class>
                <acl>stovpak_article</acl>
            </article>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stovpak_Article before="Mage_Adminhtml">Stovpak_Article_Adminhtml</Stovpak_Article>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <stovpak_article>
                <use>standard</use>
                <args>
                    <module>Stovpak_Article</module>
                    <frontName>article</frontName>
                </args>
            </stovpak_article>
        </routers>
        <layout>
            <updates>
                <stovpak_article>
                    <file>stovpak_article.xml</file>
                </stovpak_article>
            </updates>
        </layout>
        <translate>
            <modules>
                <Stovpak_Article>
                    <files>
                        <default>Stovpak_Article.csv</default>
                    </files>
                </Stovpak_Article>
            </modules>
        </translate>
    </frontend>
    <default>
        <stovpak_article>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <rss>1</rss>
                <meta_title>Articles</meta_title>
            </article>
        </stovpak_article>
    </default>
</config>
