<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <modules>
        <Stovpak_Slider>
            <version>0.1.0</version>
        </Stovpak_Slider>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Stovpak_Slider>
                    <files>
                        <default>Stovpak_Slider.csv</default>
                    </files>
                </Stovpak_Slider>
            </modules>
        </translate>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Stovpak_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Stovpak_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Stovpak_Slider>
                    <files>
                        <default>Stovpak_Slider.csv</default>
                    </files>
                </Stovpak_Slider>
            </modules>
        </translate>
        <menu>
            <slider module="slider">
                <title>Slider</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="slider">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>slider/adminhtml_slider</action> 
                    </items>
                </children>
            </slider>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <slider>
                            <title>Slider Module</title>
                            <sort_order>200</sort_order>
                        </slider>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <slider>
                <class>Stovpak_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Stovpak_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Stovpak_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>Stovpak_Slider_Block</class>
            </slider>
        </blocks> 
        <helpers>
            <slider>
                <class>Stovpak_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
</config>